<!DOCTYPE html>
<html lang="ko">
    <%-include common/commonHead.html%>
    <body>
        <%-include common/commonHeader.html%>
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <div class="content dashboard">
            <!-- Start Page Header -->
            <div class="page-header">
                <h1 class="title">
                    <a style="color: #fff;">대시보드</a>
                </h1>

                <!-- End Page Header Right Div -->
            </div>
            <!-- START CONTAINER -->
            <div class="container-default">
                <div class="row dashboard friends">
                    <div class="col-md-8">
                        <h3 class="color4 title-m-bd">
                            프랜즈
                            <span class="innerText">(마인드그라운드 회원)​</span>
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">오늘 가입 회원 수​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 회원 수​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">오늘 신규 가입 호스트 수​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 호스트 수​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="color4 title-m-bd">
                            계절, 날짜, 시간  및 환율​
                        </h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel dashboardBox col-md-12">
                                    <div class="tab">
                                        <h6>계절</h6>
                                        <div class="textalign-r">
                                            <strong>한여름</strong>
                                            <span>(6/16~8/27)</span>
                                            <div class="colorBox"></div>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <h6>계절</h6>
                                        <div class="textalign-r">
                                            <strong>2021.01.01 Sunday​​</strong>
                                            <strong style="margin-left: 15px;">10:00:00 AM​​​</strong>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <h6>계절</h6>
                                        <div class="textalign-r">
                                            <strong>USD 1달러 =  KRW 1,170 원 ​</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dashboard contents">
                    <div class="col-md-8">
                        <h3 class="color4 title-m-bd">
                            콘텐츠
                            <span class="innerText">(클래스, 게더링, 이벤트, 저널)​​​</span>
                        </h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">신규 클래스 수</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">신규 게더링 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">신규 이벤트 수​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">신규 저널 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 클래스 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 게더링 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 이벤트 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 저널 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="color4 title-m-bd">
                            고객 문의 및 신고​
                        </h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel dashboardBox col-md-12">
                                    <div class="tab">
                                        <h6>신규 고객 문의</h6>
                                        <h3 class="textalign-r">
                                            500
                                        </h3>
                                    </div>
                                    <div class="tab">
                                        <h6>신규 신고​</h6>
                                        <h3 class="textalign-r">
                                            500
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dashboard contents">
                    <div class="col-md-8">
                        <h3 class="color4 title-m-bd">
                            매출 / 매입 / 환불 ​
                        </h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">오늘 단순 클래스 판매 수​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">오늘 제작 클래스 판매 수​​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">오늘 클래스 판매 수​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">오늘 판매 금액​​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 단순 클래스 판매 수​​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 제작 클래스 판매 수​​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 클래스 판매 수​​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel dashboardBox col-md-12">
                                    <span class="title-s-bd">전체 판매 금액​​​</span>
                                    <h3 class="textalign-r">500</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 margin-top">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel dashboardBox col-md-12">
                                    <div class="tab">
                                        <h6>신규 고객 문의</h6>
                                        <h3 class="textalign-r">
                                            500
                                        </h3>
                                    </div>
                                    <div class="tab">
                                        <h6>신규 신고​</h6>
                                        <h3 class="textalign-r">
                                            500
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dashboard dataList">
                    <div class="col-md-12">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                            <h3 class="color4 title-m-bd" style="margin: 0;">
                                데이터 리스트
                            </h3>
                            <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                엑셀다운로드
                            </button>
                        </div>
                        <div class="panel-body table-responsive">
                            <table id="example" class="table display">
                                <thead>
                                    <tr>
                                        <th>날짜</th>
                                        <th>오늘 방문자</th>
                                        <th>신규 가입</th>
                                        <th>신규 ​호스트​</th>
                                        <th>신규 ​클래스</th>
                                        <th>신규 ​게더링</th>
                                        <th>신규 ​이벤트</th>
                                        <th>신규 ​저널</th>
                                        <th>오늘 ​클래스 판매​</th>
                                        <th>오늘 ​판매 금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2020.01.01</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999</td>
                                        <td>999,999원​</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="panel panel-default">
                        </div> -->
                    </div>
                </div>
            </div>

            <%-include common/commonFooter.html%>
        </div>
        <!-- End Content -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <%-include common/commonScript.html%>
        <script>
        ///////////데이터 테이블//////////////
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'print'
                ]
            });
        });
        ///////////데이터 테이블//////////////
        </script>
    </body>
</html>
