<div class="popUp journal">
    <div>
        <button class="top-xBtn" onclick="closeModal()">
            <img src="/web/img/ICN_CLOSE.png" alt="">
        </button>
        <iframe src="https://www.youtube.com/embed/v60GH59d0lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<script>
    // 모달 열기
    function openJournalModal() {
        $('.popUp').show();
    }

    // 모달 닫기
    function closeModal() {
        $('.popUp').hide();
    }
</script>