<!DOCTYPE html>
<html lang="ko">
    <%-include common/commonHead.html%>
    <body>
        <%-include common/commonHeader.html%>
        <%- include ./modal.html%>
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <div class="content dashboard">
            <!-- Start Page Header -->
            <div class="page-header">
                <h1 class="title">
                    <a href="/admin/members" style="color: #fff;">회원 관리</a>
                    <span style="display: inline-block; margin: 0 15px;"><i class="xi-angle-right-min"></i></span>
                    <a href="/admin/membersDetail" style="color: #fff;">회원 상세 보기</a>
                </h1>
                <!-- End Page Header Right Div -->
            </div>
            <!-- START CONTAINER -->
            <div class="container-default">
                <!-- 테이블 들어가는 것들은 클래스명에 dashboard dataList 꼭 들어가야함 -->
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-12" style="display: flex; justify-content: space-between;">
                        <h3 style="margin: 0; font-size: 20px; font-weight: bold; color: #fff;">
                        </h3>
                        <div>
                            <button style="background: transparent; border: none; color: #fff; font-size: 14px; font-weight: bold; text-decoration: underline; margin-right: 30px;">
                                회원 전체 데이터 ​엑셀 다운로드​
                            </button>
                            <button style="width: 265px; height: 40px; background: transparent; border: 1px solid #fff; border-radius: 5px; font-size: 14px; color:#fff; ">
                                게더링 상세 페이지 ​바로 가기​
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row detail">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div>
                                    <h3 class="color4 title-m-bd" style="margin-bottom: 20px;">
                                        회원 리스트
                                    </h3>
                                </div>
                                <div class="panel-body table-responsive detailTable memberList">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>UID</th>
                                                <td>000000000000000000​​</td>
                                            </tr>
                                            <tr>
                                                <th>회원 이메일(계정)​</th>
                                                <td>
                                                    Dicaprio@gamil.com​
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    비밀번호
                                                </th>
                                                <td>
                                                    ************​
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    연동 계정 (구글)​
                                                </th>
                                                <td>
                                                    Dicaprio@gamil.com​​
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    연동 계정 (페이스북 )​​
                                                </th>
                                                <td>
                                                    없음
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    연동 계정 (애플)​​
                                                </th>
                                                <td>
                                                    Dicaprio@gamil.com​​
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    회원 탈퇴​
                                                </th>
                                                <td>
                                                    아니오
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div>
                                    <h3 class="color4 title-m-bd" style="margin-bottom: 20px;">
                                        그라운드 링 정보
                                    </h3>
                                </div>
                                <div class="panel-body table-responsive detailTable groundRingInfo">
                                    <table>
                                        <tbody>
                                            <tr class="colorLine">
                                                <td class="blue"></td>
                                                <td class="gray"></td>
                                                <td class="red"></td>
                                                <td class="yellow"></td>
                                                <td class="white"></td>
                                            </tr>
                                            <tr class="titleLine">
                                                <td>
                                                    <strong>희망</strong><br/>
                                                    Positivity​
                                                </td>
                                                <td>
                                                    <strong>자신감</strong><br/>
                                                    Confidence
                                                </td>
                                                <td>
                                                    <strong>끈기와 열정</strong><br/>
                                                    Tenacity
                                                </td>
                                                <td>
                                                    <strong>정의</strong><br/>
                                                    Ethic
                                                </td>
                                                <td>
                                                    <strong>지혜</strong><br/>
                                                    Wisdom
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    15%
                                                </td>
                                                <td>
                                                    15%
                                                </td>
                                                <td>
                                                    15%
                                                </td>
                                                <td>
                                                    15%
                                                </td>
                                                <td>
                                                    15%
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row dashboard dataList" style="padding-bottom: 0;">
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        회원 일반 정보
                                    </h3>
                                </div>
                                <div class="panel-body table-responsive detailTable membersInfo">
                                    <table>
                                        <colgroup>
                                            <col width="170px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>이름</th>
                                                <td colspan="5">
                                                    Leonardo Dicaprio​
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    생년월일
                                                </th>
                                                <td>
                                                    2020.01.01​
                                                </td>
                                                <th>
                                                    성별
                                                </th>
                                                <td>
                                                    남자
                                                </td>
                                                <td colspan="2">
                                                    커스텀일 경우 입력한 내용
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>자기소개</th>
                                                <td colspan="5" style="text-align: left;">
                                                    자기 소개 내용
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    지역 / 주소
                                                </th>
                                                <td>
                                                    동북아시아
                                                </td>
                                                <td>
                                                    대한민국
                                                </td>
                                                <td>
                                                    서울
                                                </td>
                                                <td>
                                                    서울
                                                </td>
                                                <td>
                                                    서울로 150
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    회원 유형
                                                </th>
                                                <td colspan="2">
                                                    호스트
                                                </td>
                                                <th>
                                                    호스트 유형
                                                </th>
                                                <td colspan="2">
                                                    브랜드
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row dashboard" style="padding-bottom: 0;">
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        회원 호스트 정보
                                    </h3>
                                </div>
                                <div class="panel-body table-responsive detailTable membersInfo">
                                    <table>
                                        <colgroup>
                                            <col width="170px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>사업자 유형</th>
                                                <td colspan="5">
                                                    법인
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    호스트 소개
                                                </th>
                                                <td colspan="5">
                                                    호스트 소개내용
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>브랜드 호스트 장소</th>
                                                <td colspan="3">
                                                    서울로 150
                                                </td>
                                                <th>
                                                    제공 여부
                                                </th>
                                                <td>
                                                    예
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    페이팔
                                                </th>
                                                <td colspan="5">
                                                    0000@0000.com
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    은행 계좌
                                                </th>
                                                <td>
                                                    00은행
                                                </td>
                                                <td colspan="4">
                                                    349058349056890
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    신용 / 체크카드 번호
                                                </th>
                                                <td>
                                                    0000 0000 0000 0000
                                                </td>
                                                <th>
                                                    만료일
                                                </th>
                                                <td>
                                                    00/00
                                                </td>
                                                <th>
                                                    보안코드(CVC)
                                                </th>
                                                <td>
                                                    000
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    개인 또는 법인 서류
                                                </th>
                                                <td  class="dwnBtn gray">
                                                    <button>신분증 다운로드</button>
                                                </td>
                                                <td colspan="2" class="dwnBtn">
                                                    <button>사업자등록증 다운로드</button>
                                                </td>
                                                <td colspan="2" class="dwnBtn">
                                                    <button>사업자 통장사본 다운로드</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row dashboard" style="padding-bottom: 0;">
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        회원 활동 정보
                                    </h3>
                                </div>
                                <div class="panel-body table-responsive detailTable membersInfo">
                                    <table>
                                        <colgroup>
                                            <col width="170px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>클래스 구매</th>
                                                <td colspan="5">
                                                    9999
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>게더링 가입</th>
                                                <td colspan="5">
                                                    9999
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>이벤트 참여</th>
                                                <td colspan="5">
                                                    9999
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>수련 (시간)</th>
                                                <td colspan="5">
                                                    9999
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>저널 작성</th>
                                                <td colspan="5">
                                                    9999
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>개설한 클래스</th>
                                                <td colspan="5">
                                                    9999
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>제작 판매</th>
                                                <td>
                                                    9999
                                                </td>
                                                <th>
                                                    단순 판매(온라인)
                                                </th>
                                                <td>
                                                    9999
                                                </td>
                                                <th>
                                                    단순 판매(오프라인)
                                                </th>
                                                <td>
                                                    9999
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row dashboard membersLists dataList">
                            <!-- 클래스 구매 리스트 -->
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        클래스 구매 리스트
                                    </h3>
                                    <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                        엑셀다운로드
                                    </button>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table display">
                                        <colgroup>
                                            <col width="70px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="190px">
                                            <col width="185px">
                                            <col width="185px">
                                            <col width="70px">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>구매 시간</th>
                                                <th>클래스 타이틀</th>
                                                <th>클래스 유형</th>
                                                <th>클래스 카테고리</th>
                                                <th>회원 이름</th>
                                                <th>구매 금액</th>
                                                <th>상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>509</td>
                                                <td>2021.01.01 12:00:00​</td>
                                                <td>클래스 타이틀​</td>
                                                <td>제작 판매</td>
                                                <td>마인드풀니스​</td>
                                                <td>회원 이름​</td>
                                                <td>999,999,999원​​</td>
                                                <td>수강중</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="paging">
                                    <button class="arrow prev">
                                        <i class="xi-angle-left"></i>
                                    </button>
                                    <div class="numBtn">
                                        <button>1</button>
                                        <button>2</button>
                                        <button class="active">3</button>
                                        <button>4</button>
                                        <button>5</button>
                                    </div>
                                    <button class="arrow next">
                                        <i class="xi-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- 게더링 가입 리스트 -->
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        게더링 가입 리스트
                                    </h3>
                                    <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                        엑셀다운로드
                                    </button>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table display">
                                        <colgroup>
                                            <col width="70px">
                                            <col width="300px">
                                            <col width="300px">
                                            <col width="300px">
                                            <col width="300px">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>가입 시간</th>
                                                <th>게더링 타이틀</th>
                                                <th>게더링 카테고리</th>
                                                <th>게더링 개설자</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>509</td>
                                                <td>2021.01.01 12:00:00​</td>
                                                <td>게더링 타이틀​</td>
                                                <td>수련모임</td>
                                                <td>회원 이름​</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="paging">
                                    <button class="arrow prev">
                                        <i class="xi-angle-left"></i>
                                    </button>
                                    <div class="numBtn">
                                        <button>1</button>
                                        <button>2</button>
                                        <button class="active">3</button>
                                        <button>4</button>
                                        <button>5</button>
                                    </div>
                                    <button class="arrow next">
                                        <i class="xi-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- 이벤트 참여 리스트 -->
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        이벤트 참여 리스트
                                    </h3>
                                    <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                        엑셀다운로드
                                    </button>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table display">
                                        <colgroup>
                                            <col width="70px">
                                            <col width="300px">
                                            <col width="300px">
                                            <col width="300px">
                                            <col width="300px">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>참여 시간</th>
                                                <th>이벤트 시간</th>
                                                <th>이벤트 타이틀</th>
                                                <th>게더링 타이틀</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>509</td>
                                                <td>2021.01.01 12:00:00​</td>
                                                <td>2021.09.01 00:00 ~ 2021.09.15 00:00​</td>
                                                <td>이벤트 타이틀</td>
                                                <td>게더링 타이틀​</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="paging">
                                    <button class="arrow prev">
                                        <i class="xi-angle-left"></i>
                                    </button>
                                    <div class="numBtn">
                                        <button>1</button>
                                        <button>2</button>
                                        <button class="active">3</button>
                                        <button>4</button>
                                        <button>5</button>
                                    </div>
                                    <button class="arrow next">
                                        <i class="xi-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- 수련 활동 리스트 -->
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        수련 활동 리스트
                                    </h3>
                                    <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                        엑셀다운로드
                                    </button>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table display">
                                        <colgroup>
                                            <col width="50px">
                                            <col width="280px">
                                            <col width="100px">
                                            <col width="200px">
                                            <col width="200px">
                                            <col width="100px">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>수련 시간</th>
                                                <th>수련 유형</th>
                                                <th>수련 카테고리</th>
                                                <th>수련 진행 시간</th>
                                                <th>저널 작성 여부</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>509</td>
                                                <td>2021.01.01 12:00:00​</td>
                                                <td>타이머​</td>
                                                <td>마인드풀니스</td>
                                                <td>120분​</td>
                                                <td>예​</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="paging">
                                    <button class="arrow prev">
                                        <i class="xi-angle-left"></i>
                                    </button>
                                    <div class="numBtn">
                                        <button>1</button>
                                        <button>2</button>
                                        <button class="active">3</button>
                                        <button>4</button>
                                        <button>5</button>
                                    </div>
                                    <button class="arrow next">
                                        <i class="xi-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- 개설 클래스 리스트 -->
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                    <h3 class="color4 title-m-bd" style="margin: 0;">
                                        개설 클래스 리스트
                                    </h3>
                                    <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                        엑셀다운로드
                                    </button>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table display">
                                        <colgroup>
                                            <col width="60px">
                                            <col width="280px">
                                            <col width="200px">
                                            <col width="100px">
                                            <col width="280px">
                                            <col width="100px">
                                            <col width="80px">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>개설 시간</th>
                                                <th>클래스 타이틀</th>
                                                <th>클래스 유형</th>
                                                <th>클래스 카테고리</th>
                                                <th>판매 금액</th>
                                                <th>상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>509</td>
                                                <td>2021.01.01 12:00:00​</td>
                                                <td>클래스 타이틀​</td>
                                                <td>제작 판매</td>
                                                <td>마인드풀니스</td>
                                                <td>999,999원</td>
                                                <td>판매 완료</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="paging">
                                    <button class="arrow prev">
                                        <i class="xi-angle-left"></i>
                                    </button>
                                    <div class="numBtn">
                                        <button>1</button>
                                        <button>2</button>
                                        <button class="active">3</button>
                                        <button>4</button>
                                        <button>5</button>
                                    </div>
                                    <button class="arrow next">
                                        <i class="xi-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <%-include common/commonFooter.html%>
        </div>
        <!-- End Content -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <%-include common/commonScript.html%>
        <script>
        ///////////데이터 테이블//////////////
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'print'
                ]
            });
        });
        ///////////데이터 테이블//////////////
        </script>
    </body>
</html>
