<!DOCTYPE html>
<html lang="ko">
    <%-include common/commonHead.html%>
    <body>
        <%-include common/commonHeader.html%>
        <%- include ./modal.html%>
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <div class="content">
            <!-- Start Page Header -->
            <div class="page-header">
                <h1 class="title">
                    <a style="color: #fff;">커리어 관리</a>
                    <span style="display: inline-block; margin: 0 15px;"><i class="xi-angle-right-min"></i></span>
                    <a href="/admin/resume" style="color: #fff;">이력서 관리</a>
                    <span style="display: inline-block; margin: 0 15px;"><i class="xi-angle-right-min"></i></span>
                    <a href="/admin/resumeDetail" style="color: #fff;">상세 보기</a>
                    <button class="printBtn">
                        <img src="/web/img/admin/icn_print.png" alt="">
                    </button>
                </h1>
                <!-- End Page Header Right Div -->
            </div>
            <!-- START CONTAINER -->
            <div class="container-default">
                <!-- 테이블 들어가는 것들은 클래스명에 dashboard dataList 꼭 들어가야함 -->
                <div class="row mainBanner resumeDetailBox">
                    <div class="col-md-12">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                            <h3 class="color4 title-m-bd" style="margin: 0;">
                                개인 정보
                            </h3>
                        </div>
                        <div class="col-md-12 personalInfo">
                            <div class="row infoName">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">성명</label>
                                        <div class="col-sm-5 labelText" data-text="이름">
                                            <input type="text" class="inputText form-control" value="이름" readonly data-check="0"/>
                                        </div>
                                        <div class="col-sm-5 labelText" data-text="성">
                                            <input type="text" class="inputText form-control" value="성" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoBirthDay">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">생년월일</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="inputText form-control" value="2020.01.01​" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoAddress">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">주소</label>
                                        <div class="col-sm-4 labelText" data-text="국가">
                                            <input type="text" class="inputText form-control" value="대한민국" readonly data-check="0"/>
                                        </div>
                                        <div class="col-sm-4 labelText" data-text="지역">
                                            <input type="text" class="inputText form-control" value="서울" readonly data-check="0"/>
                                        </div>
                                        <div class="col-sm-2 labelText" data-text="도시">
                                            <input type="text" class="inputText form-control" value="서울" readonly data-check="0"/>
                                        </div>
                                    </div>
                                    <div class="form-group addressDetail">
                                        <label class="col-sm-2 control-label form-label fixText"></label>
                                        <div class="col-sm-10 labelText" data-text="상세주소">
                                            <input type="text" class="inputText form-control" value="서울로 500" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoEmail">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">이메일</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="inputText form-control" value="00000@000.com​" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoContact">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">연락처</label>
                                        <div class="col-sm-3 labelText" data-text="지역번호">
                                            <input type="text" class="inputText form-control" value="+82​" readonly data-check="0"/>
                                        </div>
                                        <div class="col-sm-7 labelText" data-text="번호">
                                            <input type="text" class="inputText form-control" value="00000000000" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mainBanner resumeDetailBox">
                    <div class="col-md-12">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                            <h3 class="color4 title-m-bd" style="margin: 0;">
                                지원 정보
                            </h3>
                        </div>
                        <div class="col-md-12">
                            <div class="row infoPosition">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">지원 직책</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="inputText form-control" value="글로벌 사업 개발 경력 채용​" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoPermission">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">근무 허가</label>
                                        <div class="col-sm-3 labelText" data-text="허가 여부">
                                            <input type="text" class="inputText form-control" value="예​" readonly data-check="0"/>
                                        </div>
                                        <div class="col-sm-7 labelText" data-text="추가 설명">
                                            <input type="text" class="inputText form-control" value="Visa F" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoPossibility">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">근무 가능 날짜</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="inputText form-control" value="2020.01.01​" readonly data-check="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoIntroduce">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">자기 소개</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" readonly data-check="0" style="height: 285px;">내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoContact">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">첨부파일</label>
                                        <div class="col-sm-10">
                                            <ul class="dwnFiles">
                                                <li>
                                                    <span>파일명 파일명파일명.확장자</span>
                                                    <button>
                                                        <img src="/web/img/ICN_DOWNLOAD.png" alt="">
                                                    </button>
                                                </li>
                                                <li>
                                                    <span>파일명 파일명파일명.확장자</span>
                                                    <button>
                                                        <img src="/web/img/ICN_DOWNLOAD.png" alt="">
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row infoLink">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">링크</label>
                                        <div class="col-sm-10">
                                            <ul class="links">
                                                <li class="labelText link" data-text="웹 사이트">
                                                    <input type="text" class="inputText form-control" value="Mindground.com​" readonly data-check="0"/>
                                                </li>
                                                <li class="labelText link" data-text="LinkedIn">
                                                    <input type="text" class="inputText form-control" value="Mindground.com​" readonly data-check="0"/>
                                                </li>
                                                <li class="labelText link" data-text="Facebook">
                                                    <input type="text" class="inputText form-control" value="Mindground.com​" readonly data-check="0"/>
                                                </li>
                                                <li class="labelText link" data-text="YouTube​">
                                                    <input type="text" class="inputText form-control" value="Mindground.com​" readonly data-check="0"/>
                                                </li>
                                                <li class="labelText link" data-text="기타">
                                                    <input type="text" class="inputText form-control" value="Mindground.com​" readonly data-check="0"/>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%-include common/commonFooter.html%>
        </div>
        <!-- End Content -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <%-include common/commonScript.html%>
        <script>
        ///////////데이터 테이블//////////////
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'print'
                ]
            });
        });
        ///////////데이터 테이블//////////////
        </script>
    </body>
</html>
