<!DOCTYPE html>
<html lang="ko">
    <%-include common/commonHead.html%>
    <body>
        <%-include common/commonHeader.html%>
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <div class="content dashboard">
            <!-- Start Page Header -->
            <div class="page-header">
                <h1 class="title">
                    <a style="color: #fff;">매출 / 정산 관리</a>
                    <span style="display: inline-block; margin: 0 15px;"><i class="xi-angle-right-min"></i></span>
                    <a style="color: #fff;">판매 관리</a>
                    <span style="display: inline-block; margin: 0 15px;"><i class="xi-angle-right-min"></i></span>
                    <a href="/admin/saleClass" style="color: #fff;">클래스</a>
                    <span style="display: inline-block; margin: 0 15px;"><i class="xi-angle-right-min"></i></span>
                    <a href="/admin/saleClassDetail" style="color: #fff;">클래스 제목클래스 제목클래스 제목클래스 제목클래스 제목</a>
                </h1>
                <!-- End Page Header Right Div -->
            </div>
            <!-- START CONTAINER -->
            <div class="container-default">
                <div class="row saleClass">
                    <div class="col-md-12">
                        <h3 class="classTitle">
                            클래스 제목클래스 제목클래스 제목클래스 제목클래스 제목
                        </h3>
                        <div class="col-md-12 dashboardBox" style="margin-bottom: 50px; padding-top: 30px; padding-bottom: 30px;">
                            <div class="row searchChks mainBanner">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">기간</label>
                                        <div class="col-sm-10">
                                            <div style="display: flex; align-items: center;">
                                                <div class="calendarWrap">
                                                    <button><img src="/web/img/ICN_CALENDAR.png" alt=""></button>
                                                    <input type="text" value="0000.00.00 - 0000.00.00" readonly>
                                                </div>
                                                <div class="commonChkBox" data-check="checkbox1">
                                                    <input type="checkbox" id="chk">
                                                    <label for="chk">
                                                        <span class="box"></span>
                                                        <span class="text">전체 기간</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label form-label fixText">결제 방법</label>
                                        <div class="col-sm-10">
                                            <div class="chkboxWrap">
                                                <%
                                                    var category2 = ['전체', '국내 결제', '해외 결제']
                                                    for(var i = 0; i < 3; i++)
                                                    {
                                                %>
                                                <div class="commonChkBox circle" data-check="checkbox1">
                                                    <input type="checkbox" id="cate2Chk<%=i%>">
                                                    <label for="cate2Chk<%=i%>">
                                                        <span class="box"></span>
                                                        <span class="text"><%=category2[i]%></span>
                                                    </label>
                                                </div>
                                                <%
                                                    }
                                                %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px; padding-right: 15px;">
                                <div class="col-md-12">
                                    <div class="btnsWrap" style="text-align: right;">
                                        <button type="button" class="cancelBtn">초기화</button>
                                        <button type="button" class="saveBtn">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dashboard dataList">
                    <div class="col-md-12">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                            <h3 class="color4 title-m-bd" style="margin: 0;">
                                클래스 판매 리스트
                            </h3>
                            <button style="background: none; outline: none; border: none; font-size: 14px; font-weight: bold; color: #fff; text-decoration: underline;">
                                엑셀다운로드
                            </button>
                        </div>
                        <div class="panel-body table-responsive">
                            <table id="example" class="table display">
                                <thead>
                                    <tr>
                                        <th>NO.</th>
                                        <th>판매 시간</th>
                                        <th>회원 이메일</th>
                                        <th>구매자​</th>
                                        <th>결제 방법</th>
                                        <th>결제 수단</th>
                                        <th>구매 가격</th>
                                        <th>환불 여부</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>501</td>
                                        <td>2021.01.01 12:00:00</td>
                                        <td>000@000.com​</td>
                                        <td>유저 이름</td>
                                        <td>국내 결제​</td>
                                        <td>신용카드</td>
                                        <td>-999,999,999원​</td>
                                        <td>예</td>
                                    </tr>
                                    <tr>
                                        <td>501</td>
                                        <td>2021.01.01 12:00:00</td>
                                        <td>000@000.com​</td>
                                        <td>유저 이름</td>
                                        <td>국내 결제​</td>
                                        <td>신용카드</td>
                                        <td>999,999,999원​</td>
                                        <td>아니오</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="panel panel-default">
                        </div> -->
                    </div>
                </div>
            </div>

            <%-include common/commonFooter.html%>
        </div>
        <!-- End Content -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <%-include common/commonScript.html%>
        <script>
        ///////////데이터 테이블//////////////
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'print'
                ]
            });
        });
        ///////////데이터 테이블//////////////
        </script>
    </body>
</html>
