<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="admin Page" />
    <meta name="keywords" content="admin" />
    <title>관리자 템플릿</title>

    <!-- ========== Css Files ========== -->
    <link rel="stylesheet" href="/cms/js/jquery-ui.min.css">
    <link rel="stylesheet" href="/cms/js/jquery.tagsinput.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="/cms/css/root.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    <script src="/cms/js/ajax.js"></script>
    <script src="/cms/js/adminBackEnd.js"></script>

</head>