<script src="/cms/js/jquery.min.js"></script>
<script src="/cms/js/jquery-ui.min.js"></script>
<script src="/cms/js/jquery.tagsinput.js"></script>
<script src="/cms/js/bootstrap/bootstrap.min.js"></script>
<script src="/cms/js/plugins.js"></script>
<script src="/cms/js/bootstrap-select/bootstrap-select.js"></script>
<script src="/cms/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/cms/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="/cms/js/datatables/datatables.min.js"></script>
<script src="/cms/js/sweet-alert/sweet-alert.min.js"></script>
<script src="/cms/js/kode-alert/main.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/cms/js/ckeditor/ckeditor.js"></script>

<!-- 사용자 작성파일 -->
<script src="/cms/js/ajax.js"></script>
<script src="/cms/js/commonScript.js"></script>