<meta charset="utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/web/css/default.css?ver=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css">
<link rel="stylesheet" type="text/css" href="/web/slick/slick.css?ver=1" />
<link rel="stylesheet" type="text/css" href="/web/slick/slick-theme.css?ver=1" />
<link rel="stylesheet" href="/web/xeicon/xeicon.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelementplayer.min.css"> <!-- 오디오 플러그인 CSS -->
<link rel="stylesheet" href="/web/js/customPicker/customPicker.css" /> <!-- 캘린더 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!--hammer.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!--차트JS-->
<script src="/web/js/jquery-2.2.4.min.js"></script>
<script src="/web/js/ckeditor/ckeditor.js"></script>
<script src="/web/slick/slick.js"></script>
<!--<script src="https://kit.fontawesome.com/6667c570be.js" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelement-and-player.min.js"></script> <!-- 오디오플러그인스크립트 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js"></script>
<script src="/web/js/sha256.js"></script>
<script src="/web/bundle/bundle.js"></script>
<script src="/web/js/ajax.js"></script>
<script src="/web/js/typeCodeList.js"></script>
<script src="/web/js/frontEvent.js"></script>
<script src="/web/js/validate.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title>MIND GROUND</title>
<!--오픈그래프 입력-->

<!-- Global site tag (gtag.js) - Google Analytics -->

<meta property="og:title" content="MindGround" />
<!--오픈그래프제목-->
<meta property="og:site_name" content="MindGround" />
<!--사이트이름-->
<meta property="og:url" content="" />
<!--사이트주소-->
<meta property="og:description" content="MindGround" />
<!-- <meta property="og:description" content="Join the Geospatial Information Roadshow 2021 for sharing the latest geospatial information technologies and policies." /> -->
<!--오픈그래프 내용-->
<meta property="og:type" content="website" />
<!--article-->
<meta property="og:image" content="" />
<!--주소입니다.-->
<meta property="description" name="description" content="" />

<meta name="twitter:card" content="" />
<!--트위터 카드 타입(요약정보, 사진, 비디오)-->
<meta name="twitter:title" content="" />
<!--콘텐츠 제목-->
<meta name="twitter:description" content="" />
<!-- <meta name="twitter:description" content="Join the Geospatial Information Roadshow 2021 for sharing the latest geospatial information technologies and policies." /> -->
<!--웹페이지 설명-->
<meta name="twitter:image" content="" />
<!--표시되는 이미지-->

<meta property="al:ios:url" content="" />
<!--ios 앱 URL-->
<meta property="al:ios:app_store_id" content="" />
<!--ios 앱스토어 ID-->

<meta property="al:ios:app_name" content="" />
<!--ios 앱 이름-->
<meta property="al:android:url" content="" />
<!--안드로이드 앱 URL-->
<meta property="al:android:app_name" content="" />
<!--안드로이드 앱 이름-->
<meta property="al:android:package" content="" />
<!--안드로이드 패키지 이름-->
<meta property="al:web:url" content="" />
<!--안드로이드 앱 URL-->

<!--아이콘 입력-->
<!--ico형식의 파비콘 첨부-->
<!-- <link rel="shortcut icon" href="/img/favicon.ico" type="favicon" /> -->
<!--png형식의 사이즈별 파비콘-->
<link rel="icon" href="" sizes="16x16" />
<link rel="icon" href="" sizes="32x32" />
<link rel="icon" href="" sizes="48x48" />
<link rel="icon" href="" sizes="64x64" />
<link rel="icon" href="/web/img/favicon.png" sizes="128x128" />
