<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ./common/commonHead.html%>
        <!--공통타이틀로 적용 할 경우 commonHead 안에 넣기-->
    </head>
    <body>
        <div class="wrap aboutUs">
            <%- include ./common/commonHeader.html%>
            <section class="minHeight">
                <article class="contents">
                    <div class="textContents">
                        <div class="marginAuto_s footerPageTitle">
                            <h2>Mindful Life!</h2>
                            <span>
                                For our healthy mind, happy daily, mindful life.
                            </span>
                            <p>
                                Mind Ground encourages and supports you in living a life of positive thinking and satisfaction.<br/>
                                It is a global platform where anyone can share their own life stories, practice routines, knowledge, and tips to spread love, hope, and positive impact.<br/>
                                <br/>
                                We pursue a “Mindful Life” through a holistic lifestyle that practices building and sustaining a healthy mind and a happy daily life through learning, sharing, and connecting.
                            </p>
                        </div>
                        <div class="marginAuto_m textCard">
                            <div class="cards card1">
                                <figure>
                                    <img src="/web/img/footer/aboutUs/ICN_CLASS.png" alt="">
                                </figure>
                                <h4>
                                    Learning - CLASS
                                </h4>
                                <p>
                                    “Find programs that perfectly meet your needs and expectations”<br/>
                                    <br/>
                                    Browse and explore a variety of programs including yoga, meditation, mental health, healing, and self-care to practice mindful life. Classes & Programs are for all levels from beginners to hobbyists and professional practitioners. <br/>
                                    <br/>
                                    If you have your own content or class ideas, open up your Host page and use Host Studio for a full service of class development, sales & student management, and analytics.
                                </p>
                            </div>
                            <div class="cards card2">
                                <figure>
                                    <img src="/web/img/footer/aboutUs/ICN_MYPRACTICE.png" alt="">
                                </figure>
                                <h4>
                                    Sharing - CONTENT
                                </h4>
                                <p>
                                    "Be the impact by sharing your daily practices filled with happy and healthy energy" <br/>
                                    <br/>
                                    Expand and deepen your mindful journey though sharing experience with all mindful friends around the world through journal entries, content reviews, and mindful campaigns, interviews etc.
                                </p>
                            </div>
                            <div class="cards card3">
                                <figure>
                                    <img src="/web/img/footer/aboutUs/ICN_MESSAGE.png" alt="">
                                </figure>
                                <h4>
                                    Connecting – COMMUNITY
                                </h4>
                                <p>
                                    “Connect with like-minded friends, communities, brands that lead mindful lifestyle and culture daily.”<br/>
                                    <br/>
                                    Make your journey more meaningful and stronger with supportive people for a long-run practice. Cultivate and create own opportunities to collaborate with many experts, brands, and organizations that are aligned with your visions. Your holistic discovery in mindfulness will be limitless though our community gatherings and events. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slideContents">
                        <div class="typeSlide marginAuto_m">
                            <h3>
                                We are mindful friends
                            </h3>
                            <div class="slideWrap">
                                <div class="defaultText">
                                    <strong>
                                        Mindful Friend
                                    </strong>
                                    <span>
                                        All users
                                    </span>
                                </div>
                                <div class="slideFrame">
                                    <div class="defaultText">
                                        <strong>
                                            Mind Ground Host
                                        </strong>
                                        <span>
                                            Business account users
                                        </span>
                                    </div>
                                    <div class="slide1-typeContent">
                                        <div>
                                            <div class="typeGra">
                                                <img src="/web/img/footer/aboutUs/gra.png" alt="">
                                                <strong>Master</strong>
                                            </div>
                                            <div class="typeGra">
                                                <img src="/web/img/footer/aboutUs/gra.png" alt="">
                                                <strong>Teacher</strong>
                                            </div>
                                            <div class="typeGra" id="centerType">
                                                <img src="/web/img/footer/aboutUs/gra.png" alt="">
                                                <strong>Brand</strong>
                                            </div>
                                            <div class="typeGra">
                                                <img src="/web/img/footer/aboutUs/gra.png" alt="">
                                                <strong>Creator</strong>
                                            </div>
                                            <div class="typeGra">
                                                <img src="/web/img/footer/aboutUs/gra.png" alt="">
                                                <strong>Leader</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide1-textContent">
                                        <p class="textContentDetail master">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="bottomSlideContents">
                        <div class="infoSlide marginAuto_m">
                            <div class="title">
                                <h3>
                                    Mindful Life Benefits
                                </h3>
                                <p>
                                    ‘Meditation’ means to being fully present in the “here and now” moment and reaching a state of calmness in your mind. Why do we have to ‘meditate’?
                                </p>
                            </div>
                            <div class="slideMain">
                                <div class="btnArea2"></div>
                                <div class="slide2">
                                    <div class="slide2-con1 commonCon clearfix">
                                        <div class="text floatLeft">
                                            <b>
                                                01. Stabilizing our nerve system
                                            </b>
                                            <p>
                                                Meditation stabilizes and relaxes the sympathetic nervous system that increases brain<br/>
                                                fatigue and tension the parasympathetic nervous system that helps the metabolism<br/>
                                                smoothly is activated. We will find a peaceful body and mind with stable heartbeat, brain<br/>
                                                wave activity, and relaxed muscle through meditation on regular basis.
                                            </p>
                                        </div>
                                        <div class="imgArea floatRight">
                                            <img src="/web/img/footer/aboutUs/bottom1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="slide2-con2 commonCon clearfix">
                                        <div class="text floatLeft">
                                            <b>
                                                02. Increase the happy hormone
                                            </b>
                                            <p>
                                                t stimulates the serotonin hormone that regulates daily vitality, energy, and calmness, and<br/>
                                                our cognitive and learning abilities. When we meditate, our body releases ‘dopamine’<br/>
                                                which induces enthusiasm and positive perception and ‘oxytocin’ that helps relieve pain<br/>
                                                and tension. These hormones are essential and keys to building happy relationships and<br/>
                                                productive work life.
                                            </p>
                                        </div>
                                        <div class="imgArea floatRight">
                                            <img src="/web/img/footer/aboutUs/bottom2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="slide2-con3 commonCon clearfix">
                                        <div class="text floatLeft">
                                            <b>
                                                03. Activation on our healthy brains
                                            </b>
                                            <p>
                                                It finally leads to a state of stability, free from the ups and downs of emotions, and<br/>
                                                emotional distractions. The gray matter of our brains starts increasing the functions of<br/>
                                                information processing, memory, concentration, thinking, language, and consciousness<br/>
                                                are strengthened accordingly.
                                            </p>
                                        </div>
                                        <div class="imgArea floatRight">
                                            <img src="/web/img/footer/aboutUs/bottom3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <%- include ./common/commonFooter.html%> <%- include ./common/commonScript.html%>
            <script>

                $('.typeGra').click(function() {
                    var thisHtml = $(this).children('strong').html();
                    var centerType = $('#centerType');
                    var centerTypeHtml = $('#centerType').children('strong').html();
                    
                    $('#centerType').addClass('active').children('strong').html(thisHtml);
                    $(this).children('strong').html(centerTypeHtml);

                    if(thisHtml == "Master")
                    {
                        $('.textContentDetail').html('Teacher or Creator with more than 20years of experiences in mindfulness and wellness')
                    }
                    else if(thisHtml == "Teacher")
                    {
                        $('.textContentDetail').html('Professionals and teachers in mindfulness, wellness, health related industry')
                    }
                    else if(thisHtml == "Brand")
                    {
                        $('.textContentDetail').html('Organization or Business in Mindfulness and Wellness')
                    }
                    else if(thisHtml == "Creator")
                    {
                        $('.textContentDetail').html('Mindful content owners and professionals in arts and culture')
                    }
                    else if(thisHtml == "Leader")
                    {
                        $('.textContentDetail').html('Business professionals and content owners in HR, CSR, or mindful leadership')
                    }



                });

                $('.slide2').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: true,
                    prevArrow : "<button type='button' class='prev slickBtn'><i class='xi-angle-left-thin'></i></button>",
                    nextArrow : "<button type='button' class='next slickBtn'><i class='xi-angle-right-thin'></i></button>",
                    appendArrows: '.btnArea2',
                    dots: true,
                    dotsClass: 'tabName',
                    customPaging: function (slider, i) {
                        var titleTab = ['01. Stabilizing our nerve system','02. Increase the happy hormone','03. Activation on our healthy brains']
                        for(var a = 0; a < titleTab.length; a++){
                            var title = $(slider.$slides[i]).attr('data',''+titleTab[a]+'');
                        }
                        return '<button class="dots">' + titleTab[i] + '</button>';
                    },
                    autoplay: true,
                    infinite: true,
                    speed: 500,
                })
            </script>
        </div>
    </body>
</html>
