<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ./common/commonHead.html%>
        <!--공통타이틀로 적용 할 경우 commonHead 안에 넣기-->
    </head>
    <body>
        <div class="wrap footerPages announcement">
            <%- include ./common/commonHeader.html%>
            <section class="marginAuto_m minHeight">
                <article class="contents">
                    <div class="footerPageTitle">
                        <h2>Announcement</h2>
                        <span>
                            Everything we do together is with the mind ground
                        </span>
                    </div>
                    <div class="noticeArea">
                        <div class="notice">
                            <div class="notice-titleHead">
                                <div class="notice-title flexLine">
                                    <b class="categoryLine">Category</b>
                                    <b class="titleLine">Title</b>
                                    <b class="authorLine">Author</b>
                                    <b class="dateLine">Date & Time</b>
                                </div>
                            </div>
                            <div class="notice-Body">
                                <div class="notice-commonLine">
                                    <div class="flexLine">
                                        <div class="categoryLine">
                                            <p class="gray">Event</p>
                                        </div>
                                        <div class="leftAlign titleLine openTabBtn">
                                            <p>Notice Title Notice Title Notice Title Notice Title</p>
                                        </div>
                                        <div class="authorLine">
                                            <p>Admin</p>
                                        </div>
                                        <div class="dateLine">
                                            <p>Aug 15.2021  12:15</p>
                                        </div>
                                    </div>
                                    <div class="hdnDetail">
                                        <h6>Notice Title Notice Title Notice Title Notice Title</h6>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores explicabo quasi eum minima ratione! Ducimus nesciunt sint odit magni quos quae at assumenda ab corporis libero similique iste, saepe accusantium!
                                            Ut quam id magnam doloribus repudiandae necessitatibus? Iusto quam corporis modi eos magnam minima optio a dolores amet ex quae commodi blanditiis mollitia libero voluptates illo, error numquam aperiam sint.
                                            Qui totam delectus eveniet rerum consequuntur, laudantium in ab et quibusdam illo recusandae deleniti veritatis maxime nemo quas quia temporibus repellat exercitationem voluptatibus. Ratione nihil modi sunt maxime, possimus nam?
                                            Consequuntur doloribus nihil culpa, incidunt fugit, sed qui aperiam, perferendis laboriosam aspernatur veniam. Qui maxime nostrum magni quasi atque, iure molestiae maiores illum dignissimos cum corrupti asperiores corporis totam laudantium!
                                            Quidem fugit, magni fuga aliquid tempore pariatur accusantium incidunt, cumque explicabo quis perferendis, ipsum iusto. Voluptates doloribus, sapiente asperiores temporibus natus quidem itaque tenetur! Cupiditate eveniet corrupti aperiam saepe necessitatibus.
                                            Animi, expedita dolorem sit delectus magnam libero. Deserunt consectetur harum repudiandae veritatis temporibus repellendus culpa dolorum ut provident tempora, mollitia vitae vero numquam corporis debitis ea deleniti obcaecati ipsa hic?
                                            Illum sapiente officiis iusto, nihil blanditiis mollitia suscipit ipsa illo aperiam dicta inventore hic cumque magni, neque consequuntur quam fugiat ullam alias delectus eligendi, at modi corrupti recusandae nulla. Tempora!
                                            Eos nostrum esse, aspernatur vitae, asperiores reprehenderit assumenda sint veritatis veniam a explicabo voluptate vero qui excepturi praesentium eius dolor molestiae, similique at cupiditate harum error consequatur eligendi quia. Cum.
                                            Illo expedita rerum temporibus odit, eveniet quo adipisci rem reiciendis aut provident distinctio maiores! Impedit autem optio soluta, quidem quo laboriosam provident neque deserunt repellendus iure sunt laborum culpa quas.
                                            Asperiores fugit facere quam ullam, cupiditate minus esse enim earum fugiat incidunt maiores provident, quia ipsam sit, ipsum veritatis inventore magni deserunt voluptate! Adipisci rerum molestias veritatis velit! Sint, architecto.
                                            Praesentium, reprehenderit quibusdam eius possimus dicta magnam fugiat nihil, qui sunt voluptatum dignissimos voluptates eos odit, repudiandae laboriosam distinctio delectus minima alias! Earum veniam animi porro, unde rerum ipsa saepe.
                                            Blanditiis eum in tempora. Sint, beatae id. Voluptate asperiores quis facere sequi sit consequuntur iusto dignissimos distinctio, dicta modi voluptates. Ratione debitis ullam nisi, dicta sed perspiciatis quis quasi! Omnis?
                                            Vitae non at quibusdam voluptas facere accusamus aperiam magnam ipsum iste repellendus nesciunt, minima illum, officiis maiores tempore? Laboriosam illum magnam animi optio veritatis aliquid, autem aliquam corporis accusamus. Earum.
                                            Eius ab possimus incidunt reiciendis fugiat! Quae culpa soluta nemo laudantium inventore? Amet qui ipsam assumenda fugiat explicabo voluptate esse impedit itaque harum, magni sapiente quidem alias obcaecati nisi placeat!
                                            Vel labore, omnis illo dolorem repellat optio in, esse magni id commodi nulla odio, nostrum atque tenetur quidem vitae eum asperiores accusantium perferendis blanditiis iste? Nisi eius ab voluptatem harum?
                                            Expedita id eius, maiores, praesentium soluta, necessitatibus minima ratione qui sapiente laudantium vero quia? Nihil ratione incidunt quisquam libero nulla quod, quibusdam, rerum quam delectus quasi neque expedita sapiente molestiae.
                                            Provident corporis corrupti sunt quos ratione, laudantium ab nobis ducimus consectetur vitae, sequi nulla nostrum non minus debitis nisi mollitia ipsum quisquam error natus dolores quod sed inventore veniam. Voluptate?
                                            Molestias corporis facilis accusantium ducimus nam pariatur quaerat aut, alias veniam eum. Corrupti, cupiditate dolorem fuga a hic dicta temporibus eos, ducimus distinctio voluptatem nesciunt alias possimus officiis qui repudiandae?
                                            Earum quo a soluta. Laboriosam, obcaecati accusamus repellat tempora cum minima eum architecto minus itaque magni corporis placeat libero, harum aliquam sunt pariatur similique, quis maiores adipisci. Repellat, natus qui.
                                            Sapiente voluptates numquam cumque hic, quis quam quia quo aut odit omnis, aspernatur magnam natus veritatis unde nesciunt ducimus porro? Facere corrupti vitae odit alias quae inventore ab delectus quisquam.
                                            Consequuntur expedita tempora est voluptatibus temporibus totam rem ea mollitia sunt officiis. In, hic aspernatur quia incidunt perspiciatis saepe laborum molestias dolore dignissimos veritatis pariatur ipsa exercitationem aliquid corrupti repudiandae.
                                            Unde recusandae saepe iste modi a asperiores voluptate earum cum esse doloremque sunt vitae corrupti incidunt culpa, laboriosam nam cumque voluptatem molestias voluptatum rem odio id inventore magnam harum! Id!
                                            Hic voluptatem quos veniam, error repudiandae rerum illo nam eaque consectetur fugit alias nostrum architecto quas ipsa minima, vel expedita laboriosam culpa repellendus eveniet ad sed temporibus! Ipsa, architecto reprehenderit!
                                            Exercitationem, expedita accusantium fugiat hic explicabo unde quaerat voluptas! Quasi et ipsam vero nihil, cum commodi ut, doloremque dolorem asperiores in nisi saepe sint voluptatum recusandae enim, mollitia ad illo.
                                            Perferendis dignissimos incidunt totam dolorum unde praesentium ipsam veritatis soluta! Aspernatur consequuntur magnam, voluptatum ullam, enim molestiae ipsa ad soluta delectus, dicta cumque mollitia repellat quae similique minus optio in.
                                            Explicabo soluta neque reiciendis ratione doloribus qui nulla quibusdam maxime vero numquam, deleniti ducimus, quae obcaecati ullam, suscipit illo excepturi similique quidem architecto adipisci amet tempore. Maxime ut consequatur ad?
                                            Aut, delectus libero laudantium deserunt ratione natus facere est modi, dolore consequuntur dolorem fuga consequatur fugit sint excepturi, saepe reprehenderit molestiae vero maiores hic amet atque! Similique possimus excepturi quam.
                                            Sapiente earum aliquam officia quo itaque ipsum error blanditiis, omnis, adipisci neque laborum sunt deleniti ullam, assumenda voluptatem soluta eos perferendis nam saepe voluptatibus laudantium! Deleniti obcaecati accusantium eos nisi.
                                            Sunt placeat ad perspiciatis minus mollitia aspernatur consectetur voluptate molestiae nesciunt fugiat? Tempora hic, aspernatur debitis odit voluptates sapiente perspiciatis, aliquid ab accusantium voluptatem, error consectetur veniam ullam voluptatum eum?
                                            Vero nihil natus, totam consectetur asperiores aspernatur quibusdam veritatis necessitatibus placeat eligendi porro, dolores officia distinctio suscipit sapiente eius, officiis excepturi pariatur delectus perspiciatis fugiat illum iure aperiam. Nemo, illum?
                                        </p>
                                    </div>
                                </div>
                                <div class="notice-commonLine">
                                    <div class="flexLine">
                                        <div class="categoryLine">
                                            <p class="gray">Event</p>
                                        </div>
                                        <div class="leftAlign titleLine openTabBtn">
                                            <p>Notice Title Notice Title Notice Title Notice Title</p>
                                        </div>
                                        <div class="authorLine">
                                            <p>Admin</p>
                                        </div>
                                        <div class="dateLine">
                                            <p>Aug 15.2021  12:15</p>
                                        </div>
                                    </div>
                                    <div class="hdnDetail">
                                        <h6>Notice Title Notice Title Notice Title Notice Title</h6>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores explicabo quasi eum minima ratione! Ducimus nesciunt sint odit magni quos quae at assumenda ab corporis libero similique iste, saepe accusantium!
                                            Ut quam id magnam doloribus repudiandae necessitatibus? Iusto quam corporis modi eos magnam minima optio a dolores amet ex quae commodi blanditiis mollitia libero voluptates illo, error numquam aperiam sint.
                                            Qui totam delectus eveniet rerum consequuntur, laudantium in ab et quibusdam illo recusandae deleniti veritatis maxime nemo quas quia temporibus repellat exercitationem voluptatibus. Ratione nihil modi sunt maxime, possimus nam?
                                            Consequuntur doloribus nihil culpa, incidunt fugit, sed qui aperiam, perferendis laboriosam aspernatur veniam. Qui maxime nostrum magni quasi atque, iure molestiae maiores illum dignissimos cum corrupti asperiores corporis totam laudantium!
                                            Quidem fugit, magni fuga aliquid tempore pariatur accusantium incidunt, cumque explicabo quis perferendis, ipsum iusto. Voluptates doloribus, sapiente asperiores temporibus natus quidem itaque tenetur! Cupiditate eveniet corrupti aperiam saepe necessitatibus.
                                            Animi, expedita dolorem sit delectus magnam libero. Deserunt consectetur harum repudiandae veritatis temporibus repellendus culpa dolorum ut provident tempora, mollitia vitae vero numquam corporis debitis ea deleniti obcaecati ipsa hic?
                                            Illum sapiente officiis iusto, nihil blanditiis mollitia suscipit ipsa illo aperiam dicta inventore hic cumque magni, neque consequuntur quam fugiat ullam alias delectus eligendi, at modi corrupti recusandae nulla. Tempora!
                                            Eos nostrum esse, aspernatur vitae, asperiores reprehenderit assumenda sint veritatis veniam a explicabo voluptate vero qui excepturi praesentium eius dolor molestiae, similique at cupiditate harum error consequatur eligendi quia. Cum.
                                            Illo expedita rerum temporibus odit, eveniet quo adipisci rem reiciendis aut provident distinctio maiores! Impedit autem optio soluta, quidem quo laboriosam provident neque deserunt repellendus iure sunt laborum culpa quas.
                                            Asperiores fugit facere quam ullam, cupiditate minus esse enim earum fugiat incidunt maiores provident, quia ipsam sit, ipsum veritatis inventore magni deserunt voluptate! Adipisci rerum molestias veritatis velit! Sint, architecto.
                                            Praesentium, reprehenderit quibusdam eius possimus dicta magnam fugiat nihil, qui sunt voluptatum dignissimos voluptates eos odit, repudiandae laboriosam distinctio delectus minima alias! Earum veniam animi porro, unde rerum ipsa saepe.
                                            Blanditiis eum in tempora. Sint, beatae id. Voluptate asperiores quis facere sequi sit consequuntur iusto dignissimos distinctio, dicta modi voluptates. Ratione debitis ullam nisi, dicta sed perspiciatis quis quasi! Omnis?
                                            Vitae non at quibusdam voluptas facere accusamus aperiam magnam ipsum iste repellendus nesciunt, minima illum, officiis maiores tempore? Laboriosam illum magnam animi optio veritatis aliquid, autem aliquam corporis accusamus. Earum.
                                            Eius ab possimus incidunt reiciendis fugiat! Quae culpa soluta nemo laudantium inventore? Amet qui ipsam assumenda fugiat explicabo voluptate esse impedit itaque harum, magni sapiente quidem alias obcaecati nisi placeat!
                                            Vel labore, omnis illo dolorem repellat optio in, esse magni id commodi nulla odio, nostrum atque tenetur quidem vitae eum asperiores accusantium perferendis blanditiis iste? Nisi eius ab voluptatem harum?
                                            Expedita id eius, maiores, praesentium soluta, necessitatibus minima ratione qui sapiente laudantium vero quia? Nihil ratione incidunt quisquam libero nulla quod, quibusdam, rerum quam delectus quasi neque expedita sapiente molestiae.
                                            Provident corporis corrupti sunt quos ratione, laudantium ab nobis ducimus consectetur vitae, sequi nulla nostrum non minus debitis nisi mollitia ipsum quisquam error natus dolores quod sed inventore veniam. Voluptate?
                                            Molestias corporis facilis accusantium ducimus nam pariatur quaerat aut, alias veniam eum. Corrupti, cupiditate dolorem fuga a hic dicta temporibus eos, ducimus distinctio voluptatem nesciunt alias possimus officiis qui repudiandae?
                                            Earum quo a soluta. Laboriosam, obcaecati accusamus repellat tempora cum minima eum architecto minus itaque magni corporis placeat libero, harum aliquam sunt pariatur similique, quis maiores adipisci. Repellat, natus qui.
                                            Sapiente voluptates numquam cumque hic, quis quam quia quo aut odit omnis, aspernatur magnam natus veritatis unde nesciunt ducimus porro? Facere corrupti vitae odit alias quae inventore ab delectus quisquam.
                                            Consequuntur expedita tempora est voluptatibus temporibus totam rem ea mollitia sunt officiis. In, hic aspernatur quia incidunt perspiciatis saepe laborum molestias dolore dignissimos veritatis pariatur ipsa exercitationem aliquid corrupti repudiandae.
                                            Unde recusandae saepe iste modi a asperiores voluptate earum cum esse doloremque sunt vitae corrupti incidunt culpa, laboriosam nam cumque voluptatem molestias voluptatum rem odio id inventore magnam harum! Id!
                                            Hic voluptatem quos veniam, error repudiandae rerum illo nam eaque consectetur fugit alias nostrum architecto quas ipsa minima, vel expedita laboriosam culpa repellendus eveniet ad sed temporibus! Ipsa, architecto reprehenderit!
                                            Exercitationem, expedita accusantium fugiat hic explicabo unde quaerat voluptas! Quasi et ipsam vero nihil, cum commodi ut, doloremque dolorem asperiores in nisi saepe sint voluptatum recusandae enim, mollitia ad illo.
                                            Perferendis dignissimos incidunt totam dolorum unde praesentium ipsam veritatis soluta! Aspernatur consequuntur magnam, voluptatum ullam, enim molestiae ipsa ad soluta delectus, dicta cumque mollitia repellat quae similique minus optio in.
                                            Explicabo soluta neque reiciendis ratione doloribus qui nulla quibusdam maxime vero numquam, deleniti ducimus, quae obcaecati ullam, suscipit illo excepturi similique quidem architecto adipisci amet tempore. Maxime ut consequatur ad?
                                            Aut, delectus libero laudantium deserunt ratione natus facere est modi, dolore consequuntur dolorem fuga consequatur fugit sint excepturi, saepe reprehenderit molestiae vero maiores hic amet atque! Similique possimus excepturi quam.
                                            Sapiente earum aliquam officia quo itaque ipsum error blanditiis, omnis, adipisci neque laborum sunt deleniti ullam, assumenda voluptatem soluta eos perferendis nam saepe voluptatibus laudantium! Deleniti obcaecati accusantium eos nisi.
                                            Sunt placeat ad perspiciatis minus mollitia aspernatur consectetur voluptate molestiae nesciunt fugiat? Tempora hic, aspernatur debitis odit voluptates sapiente perspiciatis, aliquid ab accusantium voluptatem, error consectetur veniam ullam voluptatum eum?
                                            Vero nihil natus, totam consectetur asperiores aspernatur quibusdam veritatis necessitatibus placeat eligendi porro, dolores officia distinctio suscipit sapiente eius, officiis excepturi pariatur delectus perspiciatis fugiat illum iure aperiam. Nemo, illum?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagingWrap">
                            <button class="page-prev commonPagingBtns">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <div class="pageNum">
                                <button class="page-number commonPageNumBtns active">1</button>
                                <button class="page-number commonPageNumBtns">2</button>
                                <button class="page-number commonPageNumBtns">3</button>
                                <button class="page-number commonPageNumBtns">4</button>
                                <button class="page-number commonPageNumBtns">5</button>
                            </div>
                            <button class="page-next commonPagingBtns">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </article>
            </section>
            <%- include ./common/commonFooter.html%> <%- include ./common/commonScript.html%>
            <script>
                $('.openTabBtn > p').click(function() {
                    $(this).parents('.flexLine').next('.hdnDetail').slideToggle('active');
                    console.log($(this).find('.hdnDetail'))
                });
            </script>
        </div>
    </body>
</html>
