<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ./common/commonHead.html%>
        <!--공통타이틀로 적용 할 경우 commonHead 안에 넣기-->
    </head>
    <body>
        <div class="wrap careers">
            <%- include ./common/commonHeader.html%>
            <section class="minHeight">
                <article class="contents">
                    <div class="currentArea">
                        <div class="footerPageTitle">
                            <h2>Careers at Mind Ground </h2>
                            <p>
                                Mind Ground is always looking for passional professionals who will join us leading and establishing a culture of ‘mindful life’ <br/>
                                and encouraging our community to live a positive and satisfying life.<br/> 
                                This is an amazing opportunity to bring your talents and kills for the greater values we will pursue together.
                            </p>
                            <div class="btnArea">
                                <b>Submit your online application now!</b>
                                <button class="submitBtn-on" onclick="location.href='/application'">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="marginAuto_m ccoInfo">
                            <h3>
                                Current Career Opportunities
                            </h3>
                            <div class="contentBoxs">
                                <div class="infoBox">
                                    <h6 class="boxTitle">
                                        Director, Global Business Development
                                    </h6>
                                    <ul class="mainInfo">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Seoul, Korea</span>
                                        </li>
                                        <li>
                                            <span>Full time</span>
                                        </li>
                                    </ul>
                                    <div class="openArrow">
                                        <button class="openArrow-on">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                    <ul class="hdnDetail">
                                        <li class="title">
                                            Qualifications
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="infoBox">
                                    <h6 class="boxTitle">
                                        Director, Global Marketing & PR
                                    </h6>
                                    <ul class="mainInfo">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Seoul, Korea</span>
                                        </li>
                                        <li>
                                            <span>Full time</span>
                                        </li>
                                    </ul>
                                    <div class="openArrow">
                                        <button class="openArrow-on">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                    <ul class="hdnDetail">
                                        <li class="title">
                                            Qualifications
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="infoBox">
                                    <h6 class="boxTitle">
                                        Chief Technology Officer
                                    </h6>
                                    <ul class="mainInfo">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Seoul, Korea</span>
                                        </li>
                                        <li>
                                            <span>Full time</span>
                                        </li>
                                    </ul>
                                    <div class="openArrow">
                                        <button class="openArrow-on">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                    <ul class="hdnDetail">
                                        <li class="title">
                                            Qualifications
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="infoBox">
                                    <h6 class="boxTitle">
                                        Director, Global Marketing & PR PR
                                    </h6>
                                    <ul class="mainInfo">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Seoul, Korea</span>
                                        </li>
                                        <li>
                                            <span>Full time</span>
                                        </li>
                                    </ul>
                                    <div class="openArrow">
                                        <button class="openArrow-on">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                    <ul class="hdnDetail">
                                        <li class="title">
                                            Qualifications
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                        <li class="detail">
                                            <span class="dot"></span>
                                            <span class="text">Lorem ipsum dolor sit amet.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bcArea">
                        <div class="contents marginAuto">
                            <h3>
                                Benefits & Culture
                            </h3>
                            <div class="imgBoxWrap">
                                <div class="imgBox1 imgBox">
                                    <div class="defaultText">
                                        <div>
                                            <p>01. </p>
                                            <p>We support<br/> employees’ mindful daily life</p>
                                        </div>
                                    </div>
                                    <div class="hdnText">
                                        <ul>
                                            <li>
                                                Funds mindful practices and retreats twice a year (Programs are<br/> selective as Mind Ground recommends and vouches for)
                                            </li>
                                            <li>
                                                Allowances for hobbies, books, and education programs related to<br/> mindfulness and meditation, or to professionalism for designated positions
                                            </li>
                                            <li>
                                                Exploration & community tours with teams to connect to locals through<br/> ‘Mindful Day’
                                            </li>
                                            <li>
                                                A variety of mindfulness practices on the daily basis through ‘team<br/> wellness sessions’, monthly meetings and workshops
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="imgBox2 imgBox">
                                    <div class="defaultText">
                                        <div>
                                            <p>02. </p>
                                            <p>We provide flexible and healthy<br/>working environments</p>
                                        </div>
                                    </div>
                                    <div class="hdnText">
                                        <ul>
                                            <li>
                                                Flexible on-off commuting policy (Flextime) 8:00-10:30am / 5:00-7:30pm
                                            </li>
                                            <li>
                                                Lunch paid by us for a sociable, stress-free, and teambuilding
                                            </li>
                                            <li>
                                                Half-day off/ Day off/ Parental Leave/ Maternity (Paternity) Leave/ Sick<br/> Leave/ Substitute holidays are available
                                            </li>
                                            <li>
                                                Transits for night shifts and overtime and travel expenses provided
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="imgBox3 imgBox">
                                    <div class="defaultText">
                                        <div>
                                            <p>03. </p>
                                            <p>And a variety of employee loans<br/>is a plus!</p>
                                        </div>
                                    </div>
                                    <div class="hdnText">
                                        <ul>
                                            <li>
                                                Housing lease, tuitions for employees and his/her children, hospital<br/> expenses and other miscellaneous cases (ask us!)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <%- include ./common/commonFooter.html%> <%- include ./common/commonScript.html%>
            <script>
                $(function() {

                    //반응형에 따른 타이틀 레이아웃 변환
                    $(window).on('load resize', function() {
                        console.log($(this).scrollTop());
                        if($(this).innerWidth() <= 767)
                        {
                            $(window).scroll(function() {
                                var targetScrollVal = $(document).scrollTop();
                                if(targetScrollVal >= 700) 
                                {
                                    $('.currentArea').addClass('activeFixed');
                                    $('.bcArea').addClass('activeFixed');
                                }
                                else
                                {
                                    $('.currentArea').removeClass('activeFixed');
                                    $('.bcArea').removeClass('activeFixed');
                                }
                            })
                        }
                        else
                        {
                            $(window).scroll(function() {
                                var targetScrollVal = $(document).scrollTop();
                                if(targetScrollVal >= 500) 
                                {
                                    $('.currentArea').addClass('activeFixed');
                                    $('.bcArea').addClass('activeFixed');
                                }
                                else
                                {
                                    $('.currentArea').removeClass('activeFixed');
                                    $('.bcArea').removeClass('activeFixed');
                                }
                            })
                        }
                    })
                    $('.openArrow-on').click(function() {
                        $(this).parents('.infoBox').toggleClass('active');
                    });

                    $('.defaultText').click(function() {
                        $(this).next('.hdnText').toggleClass('active');
                    })

                    
                })


            </script>
        </div>
    </body>
</html>
