<!-- quiz 팝업 1 -->
<div class="modal modal11">
    <div>
        <div class="xBtn">
            <button onclick="customModalClose(11)">
                <img src="/web/img/ICN_CLOSE.png" alt="">
            </button>
        </div>
        <div class="contentWrap">
            <div class="content">
                <div class="img">
                    <img src="/web/img/popupImg/ICN_THUMBUP.png" alt="">
                </div>
                <ul class="textinfo">
                    <li>
                        <strong>Your Score:</strong>
                        <strong>80%</strong>
                    </li>
                    <li>
                        <span>Passing Score:</span>
                        <span>60%</span>
                    </li>
                </ul>
            </div>
            <div class="modalBtns">
                <button class="btn1">
                    Try again
                </button>
                <button class="btn2">
                    Review quiz
                </button>
            </div>
        </div>
    </div>
</div>

<!-- survey 팝업 1 -->
<div class="modal modal13">
    <div>
        <div class="xBtn">
            <button onclick="customModalClose(13)">
                <img src="/web/img/ICN_CLOSE.png" alt="">
            </button>
        </div>
        <div class="contentWrap">
            <h6>
                Notifications
            </h6>
            <strong>
                Please submit after answering all quizzes.
                <!-- Please submit after answering all questions. -->
            </strong>
            <div class="modalBtns">
                <button>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
