<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ./common/commonHead.html%>
        <!--공통타이틀로 적용 할 경우 commonHead 안에 넣기-->
    </head>
    <body>
        <div class="wrap footerTerms">
            <%- include ./common/commonHeader.html%>
            <section class="marginAuto_m minHeight">
                <article class="contents">
                    <div class="footerPageTitle">
                        <h2><%=translation.loginAndJoin.Terms%></h2>
                    </div>
                    <div class="detail privacy">
                        <div class="title-sentence">
                            <h4>
                                1. 당사가 수집하는 정보의 유형
                            </h4>
                            <p>
                                Mind Ground 제품을 제공하기 위해 당사는 회원님에 대한 정보를 처리해야 합니다. 수집하는 정보의 유형은 회원님이 당사 제품을 이용하는 방법에 따라 다릅니다. Mind Ground 개인 설정에 접속하여 당사가 수집한 정보에 액세스하고 이를 삭제하는 방법에 대해 알아보실 수 있으며 기본적인 서버와 데이터는 미국 서부 캘리포니아주에 위치하게 됩니다.
                            </p>
                        </div>
                        <div class="dlWrap">
                            <dl>
                                <dt>1) 회원님 및 다른 사람의 활동 및 제공하는 정보</dt>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>회원님이 제공하는 정보 및 콘텐츠: 당사는 회원님이 Mind Ground 제품을 이용(계정 가입, 콘텐츠 작성 또는 공유, 다른 사람들과의 메시지 전송 또는 게더링 개설 및 운영 포함)할 때 제공하는 콘텐츠, 커뮤니케이션 및 기타 정보를 수집합니다. 여기에는 사진 촬영 장소나 파일 생성 날짜와 같이 회원님이 제공한 콘텐츠에 포함되거나 관련된 정보(메타데이터 등)가 포함될 수 있습니다. </span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>특별 보호를 받는 정보: Mind Ground 프로필 필드 또는 중요 클래스, 게더링, 이벤트에 회원님의 종교관, 정치관, "관심 있는" 사람 또는 건강 정보를 제공하도록 선택할 수 있습니다. 이러한 정보 및 기타 정보(예를 들어 인종 또는 민족적 태생, 철학적 신념 또는 노동조합 가입 여부)는 회원님의 해당 국가 법률에 따라 특별 보호를 받을 수 있습니다.</span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>네트워크 및 연결: 당사는 회원님과 연결된 사람, 페이지, 계정, 해시태그 및 그룹(예를 들어 Mind Ground 제품에서 회원님이 가장 많이 연락하는 사람이나 회원님이 속한 그룹)에 대한 정보 및 이들과 연락하는 방식에 대한 정보를 수집합니다. </span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>회원님의 이용: 당사는 회원님이 보거나 참여하는 콘텐츠의 유형, 사용하는 기능, 수행하는 행동, 교류하는 사람 또는 계정, 활동 시간, 빈도 및 기간 등 회원님이 Mind Ground 제품을 이용하는 방법에 대한 정보를 수집합니다. 예를 들어 당사는 회원님이 Mind Ground 제품을 이용한 시간, 마지막으로 이용한 시간, Mind Ground 제품에서 확인한 게시물, 동영상 및 기타 콘텐츠를 기록합니다. </span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>Mind Ground 제품에서 이뤄진 거래에 관한 정보: 회원님이 구매 또는 기타 금융 거래를 위해 Mind Ground 제품을 이용하는 경우(예를 들어 플랫폼 내에서 구매 및 판매하는 경우) 당사는 구매 또는 거래에 관한 정보를 수집합니다. 여기에는 신용카드 또는 직불카드 번호 및 기타 카드 정보, 기타 계정 및 인증 정보, 청구, 배송 및 연락처와 같은 결제 정보가 포함됩니다.</span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>다른 사람의 활동 및 다른 사람이 회원님에 관해 제공한 정보: 당사는 다른 사람이 Mind Ground 제품을 이용할 때 그들이 제공하는 콘텐츠, 커뮤니케이션 및 정보를 수집하고 분석합니다. 여기에는 다른 사람이 언제 회원님의 피드 콘텐츠를 공유하거나 댓글을 남기는지, 언제 회원님에게 메시지를 보내는지 등과 같은 회원님의 활동에 관한 정보가 포함될 수 있습니다.</span>
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>2) 기기 정보</dt>
                                <dd>
                                    당사는 회원님이 사용하여 Mind Ground 제품과 연결되는 컴퓨터, 전화, 스마트 TV 및 기타 웹 연결 기기로부터 그에 관한 정보를 수집하고, 회원님이 사용하는 여러 기기에 이 정보를 결합합니다. 예를 들어 당사는 회원님의 휴대폰에서 Mind Ground 제품 이용에 관해 수집한 정보를 이용하여, 회원님이 노트북이나 태블릿과 같은 다른 기기에서 Mind Ground 제품을 이용할 때 보게 되는 콘텐츠 또는 기능을 회원님에게 맞춤화 합니다. 이러한 기기로부터 얻는 정보는 다음과 같습니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>3) 쿠키</dt>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>쿠키의 정의: 쿠키는 귀하의 컴퓨터나 모바일 기기에 설치되어 사용자의 브라우저나 기기를 식별할 수 있는 문자열이 담긴 작은 텍스트 파일입니다. 당사는 제품, 서비스 및 광고를 제공하고, 보호하고, 이해하기 위해 쿠키, 픽셀 및 로컬 스토리지 같은 기술을 사용할 수 있습니다.</span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>쿠키의 용도: 사이트 또는 서비스에서 쿠키 및 기타 기술을 사용하여 귀하의 컴퓨터 또는 기기가 이전에 해당 사이트 또는 서비스를 방문했는지를 알 수 있습니다. 이후 이러한 기술을 사용하여 제품, 서비스 및 광고를 제공하고, 사이트 또는 서비스의 이용 현황을 파악하며, 귀하가 페이지를 효율적으로 이동할 수 있게 해주고, 사용자의 기본 설정을 기억하며, 사용자의 전반적인 서비스 경험을 개선할 수 있습니다. 쿠키는 귀하가 온라인에서 접하는 마케팅 정보가 귀하 및 귀하의 관심사와 관련성이 높은지를 확인할 때도 도움이 될 수 있습니다.</span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>Mind Ground에서 쿠키 및 유사한 기술을 사용하는 이유: 당사는 쿠키, 픽셀, 로컬 스토리지 및 유사 기술을 사용하여 관련 콘텐츠를 표시하고, 사용자 경험을 개선하며, Mind Ground와 당사 이용자를 보호합니다. 이러한 기술을 사용하여 서비스를 구현하며, 사용하기 편리한 서비스를 제공하고, 서비스 내에서 이동이 가능하며 보안 영역 액세스 같은 기능을 이용하고, Mind Ground에서 보다 신속하게 대응하도록 정보를 저장할 수 있습니다. 이러한 기술을 사용하여 귀하가 가장 자주 방문하는 페이지 및 특정 페이지에서의 오류 메시지 표시 여부 등 귀하의 서비스 이용 현황에 관한 정보를 수집할 수 있습니다. 이러한 기술을 사용하여 귀하가 선택한 사항(예: 사용자 이름, 언어, 지역)을 기억하고, 귀하에게 향상된 기능과 콘텐츠를 제공하는 맞춤 서비스를 제공할 수 있습니다. 또한 이러한 쿠키는 귀하가 선택한 텍스트 크기, 글꼴 및 귀하가 맞춤 설정을 할 수 있는 페이지의 다른 요소를 기억하는 데 사용될 수 있습니다.</span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>쿠키가 기기에 유지되는 기간: 쿠키가 귀하의 컴퓨터나 모바일 기기에 유지되는 시간은 '영구적' 쿠키인지 또는 '세션' 쿠키인지에 따라 다릅니다. 세션 쿠키는 사용자가 브라우저를 닫기 전까지만 기기에 유지됩니다. 영구적 쿠키는 만료 기간까지 또는 삭제 전까지 컴퓨터나 모바일 기기에 유지됩니다.</span>
                                </dd>
                                <br/>
                                <br/>
                                <dd class="flexArea">
                                    <span>&bull;</span> <span>쿠키를 관리하는 방법: 브라우저 또는 기기에서 브라우저 쿠키를 설정할지 여부를 선택하고 삭제할 수 있는 설정을 제공할 수 있습니다. 관리 기능은 브라우저마다 다르며 제조사는 사용 가능한 설정과 작동 방식을 언제든지 변경할 수 있습니다. 브라우저의 쿠키 사용을 비활성화한 경우 Mind Ground 제품 특정 부분이 제대로 작동하지 않을 수 있습니다.</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="title-sentence">
                            <h4>
                                2. 당사에서 정보를 활용하는 방법
                            </h4>
                            <p>
                                Mind Ground는 (회원님의 선택에 따라) 아래에 설명된 바와 같이 보유한 정보를 이용하며, Mind Ground 약관에 설명된 Mind Ground 제품 및 관련 서비스를 제공하고 지원합니다. 방법은 다음과 같습니다.
                            </p>
                        </div>
                        <div class="dlWrap">
                            <dl>
                                <dt>
                                    1) Mind Ground 제품의 제공, 맞춤화 및 개선
                                </dt>
                                <dd>
                                    Mind Ground는 제품을 제공하기 위해 보유한 정보를 이용합니다. Mind Ground 제품을 제공하는 데는 기능 및 콘텐츠 (피드 및 상세페이지, 호스트 스튜디오 등 포함)를 맞춤화하고 Mind Ground 제품 안팎에서 회원님이 관심을 가질 만한 그룹 또는 이벤트나 팔로우할 만한 주제 등을 추천하는 것이 포함됩니다. 회원님을 위해 특별하고 관련성 있는 맞춤화된 Mind Ground 제품을 만들기 위해, Mind Ground는 수집한 데이터와 회원님 및 다른 사람으로부터 얻은 정보(회원님이 제공하기로 선택한 특별 보호 데이터 포함)에 기초한 회원님의 관계, 기호, 관심사 및 활동, 회원님이 Mind Ground 제품을 이용하고 상호 작용하는 방법, Mind Ground 제품 안팎에서 회원님과 연결되어 있거나 회원님이 관심 있는 사람, 장소 또는 사물에 관한 정보를 이용합니다. Mind Ground 제품의 기능, 콘텐츠, 추천을 포함하여 Mind Ground에서 개인에게 맞춤화된 경험을 제공하기 위해 당사가 회원님에 관한 정보를 어떻게 사용하는지 자세히 알아보세요. 
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    2) 위치 관련 정보
                                </dt>
                                <dd>
                                    당사는 회원님 및 다른 사람들에게 광고를 포함한 Mind Ground 제품을 제공하고, 맞춤화하고, 개선하기 위해 위치 관련 정보(예: 회원님의 현재 위치, 거주 지역, 가고 싶은 장소, 주변에 있는 업체 및 사람)를 이용합니다. 위치 관련 정보는 정확한 기기 위치(수집을 허용한 경우), IP 주소 및 회원님 및 다른 사람이 Mind Ground 제품을 이용하여 발생하는 정보(예를 들어 게더링 가입)와 같은 사항을 기반으로 할 수 있습니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    3) 제품 리서치 및 개발
                                </dt>
                                <dd>
                                    당사는 보유한 정보를 이용하여 설문 및 리서치를 수행하고 새로운 제품과 기능을 테스트하며 문제를 해결함으로써 Mind Ground 제품을 개발, 테스트 및 개선합니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    4) 안전, 무결성 및 보안 강화
                                </dt>
                                <dd>
                                    당사는 보유한 정보를 이용하여 계정 및 활동을 확인하고, 유해 행위를 방지하며, 스팸 및 기타 부정적인 경험을 감지 및 방지하고, 제품의 무결성을 유지하며, Mind Ground 제품 안팎의 안전 및 보안을 강화합니다. 예를 들어 당사는 보유한 데이터를 이용하여 의심스러운 활동 또는 Mind Ground 약관이나 정책 위반을 조사하거나 누군가에게 도움이 필요한 시점을 감지합니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    5) 회원님과의 커뮤니케이션
                                </dt>
                                <dd>
                                    당사는 보유한 데이터를 이용하여 회원님에게 마케팅 자료를 제공하고 Mind Ground 제품에 관해 커뮤니케이션하며, Mind Ground 정책 및 약관에 대한 내용을 알려 드립니다. 또한 당사는 회원님의 정보를 이용하여 회원님의 연락에 대응합니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    6) 사회적 공익 연구 및 혁신
                                </dt>
                                <dd>
                                    당사는 보유하고 있는 정보 (당사와 협업하는 연구 파트너의 정보 포함)를 이용하여 일반 사회 복지, 기술 발전, 공익, 보건 및 복지에 관한 주제의 연구와 혁신을 진행하며, 이를 지원합니다.
                                </dd>
                            </dl>
                        </div>
                        <div class="title-sentence">
                            <h4>
                                3. 정보 공유 방법
                            </h4>
                        </div>
                        <div class="dlWrap">
                            <dl>
                                <dt>
                                    1) 회원님이 공유하고 커뮤니케이션하는 사람 및 계정
                                </dt>
                                <dd>
                                    회원님은 Mind Ground 제품을 이용하여 공유 또는 커뮤니케이션할 때 공유할 내용에 대해 공개 대상을 선택합니다. 예를 들어 회원님은 Mind Ground에 게시물을 포스팅할 때 그룹, 모든 친구, 전체 공개 등 게시물에 대한 공개 대상을 선택합니다. 공개 정보는 계정이 없는 경우를 포함하여 Mind Ground 제품 안팎에서 누구든지 볼 수 있습니다. 여기에는 Mind Ground 사용자 이름, 공개 대상과 공유하는 모든 정보, 회원님 Mind Ground 공개 프로필에 있는 정보, Mind Ground 페이지에서 공유하는 콘텐츠, Mind Ground 공개 계정과 같은 기타 공개 플랫폼에서 공유하는 콘텐츠가 포함됩니다. 회원님, Mind Ground를 사용하는 다른 사람들 그리고 당사는 검색 결과 또는 도구 및 API를 통해 Mind Ground 제품 안팎에 있는 모든 사람에게 공개 정보에 대한 액세스 권한을 제공하거나 해당 공개 정보를 전송할 수 있습니다. 공개 정보는 검색 엔진, API 같은 제3자 서비스, TV 같은 오프라인 매체와 앱, 웹사이트, 당사 제품과 통합된 기타 서비스를 통해 보거나 액세스하거나 다시 공유하거나 다운로드할 수도 있습니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    2) 다른 사람이 회원님과 공유하거나 다시 공유한 콘텐츠
                                </dt>
                                <dd>
                                    Mind Ground 제품에서 회원님의 활동을 볼 수 있는 사람들은 Mind Ground 제품 안팎에서 다른 사람들(회원님이 공유한 공개 대상 이외의 사람들과 사업체 포함)과 이를 공유할지 여부를 선택할 수 있으므로, 회원님은 공유 대상을 선택할 때 이를 고려해야 합니다. 예를 들어 특정 친구 또는 계정에 게시물을 공유하거나 메시지를 전송할 때, 해당 친구 또는 계정은 직접 또는 Mind Ground 환경에서 콘텐츠를 다운로드하거나 스크린샷으로 캡처하거나 Mind Ground 제품 안팎으로 다른 사람과 다시 공유할 수 있습니다. 또한 다른 사람의 게시물에 댓글을 달거나 공감할 때, 그 사람의 콘텐츠를 볼 수 있는 사람은 회원님의 댓글이나 공감 상태를 볼 수 있고 해당 콘텐츠를 게시한 사람은 나중에 공개 대상을 변경할 수 있습니다. 사람들은 Mind Ground 제품을 이용하여 회원님에 관한 콘텐츠를 만들고 원하는 공개 대상과 공유할 수도 있습니다. 예를 들어 스토리에 회원님의 사진을 공유하고, 게시물에 회원님의 위치를 언급하거나 태그하고, 게시물 또는 메시지에 회원님에 대한 정보를 공유할 수 있습니다. 다른 사람들이 Facebook 제품에서 회원님에 대해 공유한 내용에 불편함을 느낀다면 콘텐츠를 신고하는 방법을 알아보실 수 있습니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    3) 새로운 소유자
                                </dt>
                                <dd>
                                    Mind Ground 제품 또는 해당 자산의 전부 또는 일부에 대한 소유권 또는 운영권이 변경되는 경우, 당사는 회원님에 대한 정보를 새로운 소유주에게 제공할 수 있습니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <dl>
                                <dt>
                                    4) 제3자 파트너와 공유
                                </dt>
                                <dd>
                                    당사는 Mind Ground 제품을 개선하거나 호스트 스튜디오, 게더링 도구를 사용하는 제3자 파트너와 협력하여 이들의 비즈니스를 성장시킴으로써 회사를 운영하고 전 세계 사람들에게 무료 서비스를 제공하고 있습니다. 당사는 회원님의 정보를 누구에게도 판매하지 않으며 앞으로도 판매하지 않을 것입니다. 당사는 또한 파트너가 당사에서 제공한 데이터를 이용하고 공개하는 방법에 엄격한 제한을 가하고 있습니다. 당사가 정보를 공유하는 제3자의 유형은 다음과 같습니다.
                                </dd>
                            </dl>
                            <br/>
                            <br/>
                            <p>
                                <div class="flexArea">
                                    <span>&bull;</span> <span>Mind Ground 분석 서비스를 사용하는 파트너: 당사는 개인 및 비즈니스가 사람들이 Mind Ground 제품 안팎의 게시물, 리스트, 페이지, 동영상 및 기타 콘텐츠에 참여하는 방식을 파악하는 데 참고할 수 있는 취합된 통계 및 인사이트를 제공합니다. 예를 들어 페이지 관리자 및 호스트 프로필은 게시물을 보거나, 게시물에 반응하거나, 댓글을 단 사람의 수에 관한 정보 외에도 취합된 인구 통계학적 특성 및 기타 페이지 또는 계정과의 상호 작용을 파악하는 데 도움이 되는 정보를 받습니다.</span>
                                </div>
                                <br/>
                                <br/>
                                <div class="flexArea">
                                    <span>&bull;</span> <span>측정 파트너: 당사는 회원님에 대한 정보를 수집하여 파트너에게 분석 및 측정 보고서를 제공하는 회사와 정보를 공유합니다.</span>
                                </div>
                                <br/>
                                <br/>
                                <div class="flexArea">
                                    <span>&bull;</span> <span>Mind Ground 제품 안에서 상품 및 서비스를 제공하는 파트너: 회원님이 프리미엄 콘텐츠를 구독하거나 Mind Ground 제품 내 판매자로부터 상품을 구매하는 경우, 해당 콘텐츠 제작자 또는 판매자는 회원님이 공유하는 공개 정보 및 기타 정보 외에도 배송 및 연락처 세부 정보를 포함하여 거래를 완료하는 데 필요한 정보를 받을 수 있습니다.</span>
                                </div>
                                <br/>
                                <br/>
                                <div class="flexArea">
                                    <span>&bull;</span> <span>연구원 및 학자: 또한 당사는 연구 파트너 및 학자에게 정보와 콘텐츠를 제공하여, 그들이 Mind Ground의 비즈니스 또는 사명을 지원하는 학문과 혁신을 발전시키는 연구, 그리고 일반적인 사회 복지, 기술 발전, 공익, 건강 및 복지에 대한 발견 및 혁신을 향상시키는 연구를 수행할 수 있도록 합니다.</span>
                                </div>
                                <br/>
                                <br/>
                                <div class="flexArea">
                                    <span>&bull;</span> <span>사법당국 또는 법적 요청: 법적인 요청(예: 수색 영장, 법원 명령서, 소환장 등)이 수반되고 법의 집행을 위해 필요하다고 판단될 경우. 여기에는 미국 외 지역 관할권에서의 법적 요청이 수반되고, 해당 관할권의 법에 의해 필요성이 인정되며, 그 지역 내의 사용자들에게 영향을 미침과 동시에 국제적으로 용인되는 기준에 부합한다고 판단될 때 해당 관할권의 요청을 받아들이는 경우가 포함됩니다. Mind Ground를 이용한 구매 활동과 관련된 금융 거래 데이터를 포함해 Mind Ground가 수집하는 회원님의 정보는 법적인 요청이나 의무, 정부 조사, Mind Ground 약관과 정책에 대한 잠재적 위반에 대한 조사의 대상이 되는 경우 또는 다른 피해를 방지하기 위한 목적으로 장기간 액세스 및 보관될 수 있습니다. 또한 약관 악용 사례 또는 기타 약관에 대한 위반 행위의 반복을 막기 위해 약관 위반으로 비활성화된 계정의 정보를 최소 1년 이상 보존합니다.</span>
                                </div>
                            </p>
                        </div>
                        <div class="title-sentence">
                            <h4>
                                4. 회원님의 정보를 관리 또는 삭제하는 방법
                            </h4>
                            <p>
                                당사는 더 이상 Mind Ground 서비스 및 제품을 제공할 필요가 없는 시점, 그리고 회원님의 계정이 삭제되는 시점 중 먼저 도달하는 시점까지만 데이터를 저장합니다. 이는 데이터의 성격, 수집 및 처리된 이유, 관련 법적 또는 운영상의 보존 필요성과 같은 요인에 따라 개별적으로 결정됩니다. 예를 들어 회원님이 계정 확인을 위해 정부가 발행한 신분증명서 사본을 제출하는 경우 당사는 달리 언급되지 않는 한 검토 후 30일 이내에 해당 사본을 삭제합니다. 공유된 콘텐츠 및 소셜 플러그인을 통해 얻은 쿠키 데이터 삭제에 대해 자세히 알아보세요.
                                계정을 삭제하면 회원님의 사진이나 상태 업데이트 등 회원님이 게시한 사항이 삭제되며 나중에 해당 정보를 복원할 수 없습니다. 다른 사람이 회원님에 대해 공유한 정보는 회원님의 계정에 포함되지 않으며 삭제되지 않습니다. 계정을 삭제하지 않고 제품 이용을 일시적으로 중단하려면 계정을 비활성화할 수 있습니다. 회원님의 계정을 삭제하려면 언제든지 Mind Ground 설정에 방문하세요.
                            </p>
                        </div>
                        <div class="title-sentence">
                            <h4>
                                5. 글로벌 서비스의 일환으로 데이터를 운영하고 이전하는 방법
                            </h4>
                            <p>
                                당사는 본 정책에 따라 전 세계적으로 정보를 공유하는바, Mind Ground 내부적으로 정보를 공유하고, 외부적으로 Mind Ground 파트너, 그리고 회원님이 연결하고 공유하는 대상과도 정보를 공유합니다. 예를 들어 회원님의 정보는 본 정책에 설명된 목적을 위해 미국 또는 회원님이 거주하는 지역 이외의 기타 국가로 이전 또는 전송되거나 이들 국가에서 저장 및 처리될 수 있습니다. 이러한 데이터 이전은 Mind Ground 약관에 명시된 서비스를 제공하고 Mind Ground 제품을 전 세계적으로 운영하며 회원님에게 제공하기 위해 필요합니다. 저희는 표준 계약 조항을 활용하고, 해당될 경우 특정 국가에 대한 유럽연합 집행위원회의 적정성 결정을 따르며, 미국 및 기타 국가로의 데이터 이전에 대해 회원님의 동의를 받습니다.
                            </p>
                        </div>

                    </div>
                    <!-- <div class="detail privacy">
                        <p>
                            주식회사 마인드디자인(이하 ‘회사’라 한다)은 개인정보 보호법 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립․공개합니다.​
                        </p>
                        <dl>
                            <dt>
                                제1조 (개인정보의 처리목적)​
                            </dt>
                            <dd>
                                회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.​
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                1. 홈페이지 회원 가입 및 관리​
                            </dt>
                            <dd>
                                회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별․인증, 회원자격 유지․관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보처리시 법정대리인의 동의여부 확인, 각종 고지․통지, 고충처리 등을 목적으로 개인정보를 처리합니다.​
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                2. 재화 또는 서비스 제공​
                            </dt>
                            <dd>
                                물품배송, 서비스 제공, 계약서․청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증, 요금결제․정산, 채권추심 등을 목적으로 개인정보를 처리합니다.​
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                3. 고충처리​
                            </dt>
                            <dd>
                                민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락․통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.​
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                제2조 (개인정보의 처리 및 보유기간)​
                            </dt>
                            <dd>
                                ① 회사는 법령에 따른 개인정보 보유․이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.​<br/>
                                ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.​
                            </dd>
                        </dl>
                        <ul>
                            <li>1. </li>
                            <li>
                                홈페이지 회원 가입 및 관리 : 사업자/단체 홈페이지 탈퇴시까지​<br/>
                                다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료시까지​<br/>
                                1) 관계 법령 위반에 따른 수사․조사 등이 진행중인 경우에는 해당 수사․조사 종료시까지​
                            </li>
                        </ul>
                    </div> -->
                </article>
            </section>
            <%- include ./common/commonFooter.html%> <%- include ./common/commonScript.html%>
            <script>
            </script>
        </div>
    </body>
</html>
