<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ./common/commonHead.html%>
        <!--공통타이틀로 적용 할 경우 commonHead 안에 넣기-->
    </head>
    <body>
        <div class="wrap footerPages support">
            <%- include ./common/commonHeader.html%>
            <section class="marginAuto_m minHeight">
                <article class="contents">
                    <div class="footerPageTitle">
                        <h2>Support</h2>
                    </div>
                    <div class="flexArea">
                        <div class="faqCategotys">
                            <h4>FAQs</h4>
                            <ul class="navs">
                                <li>
                                    <button class="tabOpenBtn-on active" data-tab="aboutMindGround">
                                        About Mind Ground
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="gettingStarted">
                                        Getting Started
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="userProfile">
                                        Managing Your User Profile
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="participate">
                                        Participate in Class
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="gtrEvent">
                                        Gatherings & Events
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="jouranlPractice">
                                        Journal & Practice
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="payment">
                                        Payment & Refund
                                    </button>
                                </li>
                                <li>
                                    <button class="tabOpenBtn-on" data-tab="managing">
                                        Managing Your Host Account
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="faqListWrap">
                            <div class="commonTab aboutMindGround active">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">aboutMindGroundaboutMindGroundoutMindGroundaboutMindGroundoutMindGroundaboutMindGroundoutMindGroundaboutMindGroundaboutMindGround</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab gettingStarted">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">gettingStartedgettingStartedgettingStarted</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab userProfile">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">userProfileuserProfileuserProfile</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab participate">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">participateparticipateparticipate</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab gtrEvent">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">gtrEventgtrEventgtrEvent</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab jouranlPractice">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">jouranlPracticejouranlPractice</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab payment">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">paymentpaymentpayment</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonTab managing">
                                <div class="faqsListWrap-inner">
                                    <h5>
                                        Title
                                    </h5>
                                    <div class="list">
                                        <%
                                            for(var i = 0; i < 8; i++)
                                            {
                                        %>
                                        <div class="listDetailWrap">
                                            <h6 class="openListDetail">managingmanagingmanaging</h6>
                                            <div class="hdnDetail">
                                                <b>
                                                    Notice Title Notice Title Notice Title Notice Title
                                                </b>
                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum architecto eaque, repudiandae saepe officiis accusamus. Ab, at aliquid? Odio corporis veritatis soluta molestiae aliquid quia incidunt ipsam veniam cumque quae eum ipsa accusantium cum praesentium, eos reprehenderit asperiores! Accusamus.
                                                </p>
                                            </div>
                                        </div>
                                        <%
                                            }
                                        %>
                                    </div>
                                    <div class="pagingWrap">
                                        <button class="page-prev commonPagingBtns">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <div class="pageNum">
                                            <button class="page-number commonPageNumBtns active">1</button>
                                            <button class="page-number commonPageNumBtns">2</button>
                                            <button class="page-number commonPageNumBtns">3</button>
                                            <button class="page-number commonPageNumBtns">4</button>
                                            <button class="page-number commonPageNumBtns">5</button>
                                        </div>
                                        <button class="page-next commonPagingBtns">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fixText">
                        <h4>
                            Still have a question?
                        </h4>
                        <p>
                            If you cannot find answer to your question in our FAQ,  you can <button>contact us</button>, we will answer to you shortly!
                        </p>
                    </div>
                </article>
            </section>
            <%- include ./common/commonFooter.html%> <%- include ./common/commonScript.html%>
            <script>
                $('.openListDetail').click(function() {
                    $(this).next('.hdnDetail').slideToggle('active');
                });

                $('.navs button').click(function() {
                    $('.navs button').removeClass('active');
                    $(this).addClass('active');
                    $('.commonTab').each(function() {
                        $(this).removeClass('active');
                    });
                    $('.'+$(this).data('tab')+'').addClass('active');
                });

            </script>
        </div>
    </body>
</html>
