<script>
    $(function() {
        $('.viewMoreJournals > button').on('click', function() {
            $('.scrollWrap').append(moreJournals)
            $('.scrollWrap').append(moreJournals)
        })
        var moreJournals =  '<div class="commonCard classDetail">'+
                                '<div class="card-thumb thumb-layout-1" style="background-image: url(\'/img/main/journal/dummyImg.png\');">'+
                                    '<img class="icon" src="/web/img/main/journal/ICN_AUDIO.png" alt="">'+
                                '</div>'+
                                '<div class="card-detail">'+
                                    '<div class="card-detail-top">'+
                                    '<div class="ringInfo">'+
                                    '<div class="hover-ring" data-host="Host Name">'+
                                    '<img src="/web/img/main/slide/IMG_1.png" alt="">'+
                                '</div>'+
                                '<h5>'+
                                    'David Janes'+
                                '</h5>'+
                            '</div>'+
                            '<div class="count">'+
                                '<img src="/web/img/main/journal/ICN_BOOKMARK.png" alt="">'+
                                '<span>100</span>'+
                                '</div>'+
                                '</div>'+
                                '<div class="card-detail-bottom">'+
                                '<p>'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXT'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTvTXTTX'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXT'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTvTXTTX'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXT'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXT'+
                                'TXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXTTXT'+
                                '</p>'+
                                '</div>'+
                                '</div>'+
                            '</div>'
                            
    })
</script>





