<div class="modal modal10">
    <div>
        <div class="xBtn">
            <button onclick="customModalClose(10)">
                <i class="xi-close"></i>
            </button>
        </div>
        <h3>
            Reviews  (500)
        </h3>
        <div class="contentWrap">
            <div class="reviews">
                <div class="rev">
                    <div class="revOrig">
                        <div class="topWrap">
                            <div class="ring hover-ring">
                                <img src="/web/img/dummyIcon_60.png" alt="">
                                <div class="info">
                                    <h6>
                                        David Janes 
                                    </h6>
                                    <span>
                                        2021.01.01  11:30AM
                                    </span>
                                </div>
                            </div>
                            <div class="count">
                                <img src="/web/img/ICN_BOOKMARK.png" alt="">
                                <span>
                                    150
                                </span>
                            </div>
                        </div>
                        <div class="infoText">
                            <div class="text">
                                <p>
                                    “It’s very good, it also increase my mindful. It’s very good, it also increase my mindful. It’s very good,
                                    it also increase my mindful. It’s very good, it also increase my
                                    it also increase my mindful. It’s very good, it also increase my
                                    it also increase my mindful. It’s very good, it also increase my
                                    it also increase my mindful. It’s very good, it also increase my
                                </p>
                                <button>
                                    <strong>See More</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="revComment">
                        <div class="ring hover-ring">
                            <img src="/web/img/dummyIcon_45.png" alt="">
                        </div>
                        <div class="infoText">
                            <div class="infoTextInner">
                                <div>
                                    <h6>
                                        Daniel Espada
                                        <strong>Teacher</strong>
                                    </h6>
                                    <p>
                                        Thank you!Thank you! Thank you!Thank you! Thank you!Thank you! Thank you!Thank you!Thank you!
                                    </p>
                                </div>
                            </div>
                            <span class="timeInfo">
                                2021.01.01  11:30AM
                            </span>
                        </div>
                    </div>
                </div>
                <div class="rev">
                    <div class="revOrig">
                        <div class="topWrap">
                            <div class="ring hover-ring">
                                <img src="/web/img/dummyIcon_60.png" alt="">
                                <div class="info">
                                    <h6>
                                        David Janes 
                                    </h6>
                                    <span>
                                        2021.01.01  11:30AM
                                    </span>
                                </div>
                            </div>
                            <div class="count">
                                <img src="/web/img/ICN_BOOKMARK.png" alt="">
                                <span>
                                    150
                                </span>
                            </div>
                        </div>
                        <div class="infoText">
                            <div class="text">
                                <p>
                                    “It’s very good, it also increase my mindful. It’s very good, it also increase my mindful. It’s very good,
                                    it also increase my mindful. It’s very good, it also increase my
                                    it also increase my mindful. It’s very good, it also increase my
                                    it also increase my mindful. It’s very good, it also increase my
                                    it also increase my mindful. It’s very good, it also increase my
                                </p>
                                <button>
                                    <strong>See More</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>